{% extends "layout.html" %}
{% block content %}
<div class="header">
    <h1>Updates coming soon:</h1>
    <p>This website will be under development depending on if I have time or not during the weekdays.</p>
</div>
<div class="updates">
    <strong>Changes happening soon:</strong>
    <ul>
        <li>Segment submission form</li>
        <li>Website UI improvements</li>
        <li>Rebalancing of PP values</li>
        <li>Athlete PP leaderboard</li>
        <li>Technical PP</li>
        <li>Queue so rate limits can never be exceeded</li>
        <li>Make application not break if you don't have any segment efforts (not tested)</li>
    </ul>
    <strong>Changes planned for the future:</strong>
    <ul>
        <li>Make website not look like a bootleg 90s webpage that downloads viruses to your computer</li>
        <li>Webhook implementation</li>
        <li>Make code open source</li>
    </ul>
</div>
{% endblock %}